# frozen_string_literal: true

require_relative '../triage/processor'

module Triage
  # Document me!
  class <%= processor.class_name %> < Processor
    react_to <%= processor.react_to %>

    def applicable?
      event.from_gitlab_org?
    end

    def process
      <%= processor.file_name(with_extension: false) %>
    end

    private

    def <%= processor.file_name(with_extension: false) %>
      raise NotImplementedError
    end
  end
end
